{% load static %}
<!DOCTYPE html>

<head>
    <style>
        .xyz{
          margin-bottom: 0px;
          background-image: url('{% static "image/BD1.jpg" %}');
          background-size: cover;
          background-repeat: no-repeat;
        }
      </style>
      
</head>


<body>
  {% include "blood/navbar.html" %}
<br>
<section id="section-jumbotron" style="margin-bottom: 0px;" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
    <div class="container text-center">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     
      
      <br><br><br><br>
      
    </div>  
  </section>


  <div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

    <p class="lead text-center">ABOUT US
    
    <p class="text-center">There is the main importance of the diversity in the requirement to donation of blood. Maintaining diversity in the blood supply is essential.
Some blood types are quite rare and are likeliest to be found among people with shared ancestral origins and mostly they may not be available near the local blood banks, which can cause a person to lose their valuable life.
We have the vision of connecting the user directly to the donor, this will help us to make this blood available to the users as soon as possible.
You may be most familiar with the typical whole blood donation drive seen at workplaces that requires high security and  cleanliness we have made sure that there is no compromise in these two aspects.
Here are many reasons patients need blood. A common misunderstanding about blood usage is that accident victims are the patients who use the most blood. Actually, people needing the most blood include those:
Being treated for cancer, &
Undergoing orthopaedic surgeries.</p>
<br><br>
<p class="lead text-center">Who is a Donor</p>
<p class="text-align"> The donor is basically a person who saves the lives of people by giving thier valuable blood to other people.The traits of a donor are:-<br>
                1.Must be within the age group of 18-60.<br>
            2.Have a blood pressure in the range of 160/90 to 110/60<br>
            3.Have a normal pulse rate between 60 to 100 per minute.<br>4.Hemoglobin content must be a minimum of 12gms%.<br>
            5.Should not be on any drugs such as BP or diabetes medications, hormones, aspirin, corticosteroid.<br>
            <p class = "lead text-center">How will this app change your life</p>
            <p class = "text-align">Our innovation can change the lives of many people, as it provides the support in the most important phases of the critical situation.
This app is useful in the direct connection between the user and the donor where the user in the critical situation can contact the donor directly without any third party.
In this app people might think that what would happen for the basic health check-up’s of the donor, but we will ensure total security and sanitization of the users need and their situation.
This app is mainly having the advantage of simple and more innovative ways of donor authorization where we would provide a different way  of access of the users information and their privacy.
The main importance of this app would be providing the easiest ways of providing blood access and also giving the full security to the people who use it by providing full and Integrated Cybersecurity with a user friendly app and also which is easily understandable through animations and video’s.
Mainly, we would also make the direct interaction of the users with the donor.
</p>
    
  </div>
  {% include "blood/footer.html" %}


</body>

</html>
